@rendermode InteractiveServer
@using System.Web
@using Aliencube.YouTubeSubtitlesExtractor.Abstractions

@inject IYouTubeVideo youtubeService

<h3>YoutubeSummarizer</h3>

<input id="youtube-link" @bind=inputURL @bind:after=SetYoutubeEmbedPlayer />

<iframe id="ytplayer" type="text/html" width="640" height="360"
        src=@youtubePlayerURL
        frameborder="0"></iframe>

<select id="video-language-code">
    <option value="en" selected>English</option>
    <option value="ko">Korean</option>
</select>

<select id="summary-language-code">
    <option value="en" selected>English</option>
    <option value="ko">Korean</option>
</select>

<button id="summary">Summary</button>

<textarea id="result"></textarea>

@code {
    private static readonly string YOUTUBE_EMBED_URL = "https://www.youtube.com/embed/";
    private static readonly string YOUTUBE_EMBED_URL_DEFAULT = "";

    private string inputURL = "";
    private string youtubePlayerURL = YOUTUBE_EMBED_URL_DEFAULT;

    private void SetYoutubeEmbedPlayer()
    {
        var vidId = youtubeService.GetVideoId(inputURL);

        if (!String.IsNullOrEmpty(vidId))
            youtubePlayerURL = YOUTUBE_EMBED_URL + vidId;
        else
            youtubePlayerURL = YOUTUBE_EMBED_URL_DEFAULT;
    }
}